@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  /* font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem; */

  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}


.accordion {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  /* border: 1px solid #222; */
  text-align: left;
  outline: none;
  transition: all 0.4s ease-out;
  background: none;
  border: none;

  font-weight: 600;
  line-height: 1.2em;
  text-transform: none;
  line-height: 1.4em;
  font-size: calc((2 - 1) * 1.2vw + 1rem);

  border-bottom: rgb(204, 204, 205) 1px solid
}

.active,
.accordion:hover {
  /* background-color: #426ef0; */
}

.accordion:after {
  content: "\02C5";
  color: #000;
  /* font-weight: reg; */
  font-size: calc((2 - 1) * 1.2vw + 1rem);
  float: right;
  margin-left: 0.5rem;
}

.active:after {
  content: "\02C4";
  font-size: calc((2 - 1) * 1.2vw + 1rem);
  float: right;
  margin-left: 0.5rem;
}

.accordion-content {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
  gap: 8px
}
