.App {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .AddonsList {
    -webkit-transition: max-height 0.2s;  
    -moz-transition: max-height 0.2s;  
    -ms-transition: max-height 0.2s;   
    -o-transition: max-height 0.2s;  
    transition: max-height 0.2s;  
    overflow: hidden;
    max-height: 100%;
    margin: 8px 0;
  }
  
  ul.AddonsList--hidden {
    max-height: 0;
  }

  .DiceRow {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
  }


  .DiceRow__sub, .DiceRow__count, .DiceRow__add {
    margin: 0;
    background: #fff;
    border: rgb(204, 204, 205) 1px solid;
  }

  .DiceRow__sub, .DiceRow__add {
    border-radius: 2000px;
    width: 30px;
  }

  .DiceRow__sub {
      margin-left: auto;
  }

  .PriceRow {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
  }
  
  .Preview {
    width: 100%;
    height: 400px;
  }
  
  .Sections {
    width: 0;
    flex-grow: 1;
    margin-right: auto;;
    margin-bottom: auto;
  }

  .Cart {
    width: 100%;
  }

  .Cart table {
      width: 100%;
  }

  .Sidebar {
      width: 400px;
  }

